html {
  font-family: Helvetica;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
}

body {
  margin: 0;
}

h1 {
  background-color: #0F67B1; /* Choose any color you want */
  color: white;              /* Make text contrast with background */
  padding: 20px;             /* Add padding inside the rectangle */
  margin: 0;                 /* Remove margin if you want it flush to the top */
  font-size: 30px;            /* Optional: adjust size */
  text-align: center;        /* Optional: center text */
  width: 100vw;
  box-sizing: border-box;
}

h2  {
  background-color: #3FA2F6; /* Choose any color you want */
  color: white;              /* Make text contrast with background */
  padding: 20px;             /* Add padding inside the rectangle */
  margin: 0;                 /* Remove margin if you want it flush to the top */
  font-size: 25px;            /* Optional: adjust size */
  text-align: center;        /* Optional: center text */
  width: 100vw;
  box-sizing: border-box;
}

h3  {
  background-color: #3FA2F6; /* Choose any color you want */
  color: white;              /* Make text contrast with background */
  padding: 10px;             /* Add padding inside the rectangle */
  margin: 0;                 /* Remove margin if you want it flush to the top */
  font-size: 25px;            /* Optional: adjust size */
  text-align: center;        /* Optional: center text */
  width: 100vw;
  box-sizing: border-box;
}

.button {
  background-color: #0F67B1;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.button2 {
  background-color: #0F67B1;
}

#runBtn.stopped {
  background-color: #0F67B1;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

#runBtn.running {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

#pvBtn.pvoff {
  background-color: #0F67B1;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

#pvBtn.pvon {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

#windBtn.windoff {
  background-color: #0F67B1;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

#windBtn.windon {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

#evBtn.evoff {
  background-color: #4F67B1;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

#evBtn.evon {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

#hpBtn.hpoff {
  background-color: #0F67B1;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

#hpBtn.hpon {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

#battBtn.battoff {
  background-color: #0F67B1;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

#battBtn.batton {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}