html {
  font-family: Helvetica;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}

.button2 {
  background-color: #555555;
}

#runBtn.stopped {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}
#runBtn.running {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 40px;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}
